<!DOCTYPE html>
<html lang="en">
{{partial "head.html"}}

<body class="d-flex justify-content-center flex-column align-items-center">
    <div class="bg-dark w-100 d-flex justify-content-center flex-column align-items-center">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-75">
            <a class="navbar-brand" href="../index.html">CSSE 2: Code Documentation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/opdrachten/_02/" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opdrachten
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="/opdrachten/_01/">Opdracht 01: Class Matrix And Vectors
                                Matrix And Vectors</a>
                            <a class="dropdown-item" href="/opdrachten/_02/">Opdracht 02: Draw Clock</a>
                            <a class="dropdown-item" href="/opdrachten/_03/">Opdracht 03: Clean Code</a>

                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <main class="w-75" style="padding: .5rem 1rem;">